// Create grayscale
$gray1:             #ececec;
$gray2:             #555555;
$gray3:             #5d5d5d;
$gray4:             #eeeeee;
$gray5:             #f7f7f7;
$gray6:             #a9a9ab;
$gray7:             #acacac;
$gray8:             #ededed;
$gray9:             #c9c9c9;
$gray10:            #e5e5e5;
$gray11:            #131313;
$gray12:            #758594;
$gray13:            #242424;
$gray14:            #aeadad;
$gray15:            #737373;
$gray16:            #1d1d1d;

$white:             #ffffff;
// Reassign color vars to semantic color scheme
$brand-primary:             #7936b2;
$brand-primary1:            #7233a2;
$brand-secondary:           #a044ff;
$brand-success:             #6a3093;
$brand-social:              #021b79;
$brand-blue:                #89c4ff;
$brand-light-blue:          #b2d8fe;